<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kullanıcı Kayıt</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="w3-container w3-light-grey w3-container w3-center">
        <h2 style="text-shadow: 1px 1px 0 #444">KULLANICI KAYIT</h2>
    </div>
    <div style="text-align: center; position: relative">
        <img class="w3-border w3-padding" src="{{ url_for('video_feed2') }}" width="100%" />
        <!--<img src="static/siluet.png"
             width="250px"
             height="250px"
             style="position: absolute; right: 600px; top: 80px" />-->
    </div>

    <div style="text-align: center"></div>

    <form action="/kullanicikayit" method="POST" class="w3-container">
        <div style="text-align: center; top: 10px">
            <br /><br />
            <center>
                <input type="text"
                       class="w3-input w3-border w3-round"
                       style="width: 20%"
                       name="name"
                       placeholder="İSİM" />
            </center>
            <br />
            <center>
                <input type="text"
                       name="age"
                       class="w3-input w3-border w3-round"
                       style="width: 20%"
                       placeholder="YAŞ" />
            </center>
            <br />
            <input class="w3-check"
                   type="checkbox"
                   name="kameracheck"
                   value="Kamera 1" />
            Kamera 1<br />
            <input class="w3-check"
                   type="checkbox"
                   name="kameracheck"
                   value="Kamera 2" />
            Kamera 2<br />
            <br />
            <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-save"></i> KAYDET
            </button>     </button> <a href="{{ url_for('anasayfa') }}" class="w3-button w3-black fa fa-mail-reply">Anasayfa</a>
        </div>
    </form>

</body>
</html>
