<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kamera 1</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

</head>

<body>
    <div class="w3-container w3-light-grey w3-container w3-center">

        <h2 style="text-shadow: 1px 1px 0 #444">KAMERA 1</h2>
    </div>
    <div style="text-align: center">
        <img src="{{ url_for('video_feed') }}" class="w3-border w3-padding" width="80%" /> <br />
    </div>
</body>
</html>
