<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KULLANICILAR</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <div class="w3-container w3-light-grey w3-container w3-center">
        <h2 style="text-shadow: 1px 1px 0 #444">KULLANICILAR</h2>
    </div>
    <ul class="w3-center w3-ul w3-card-4 w3-hoverable" style="margin-top:5%;">
        <!-- For loop logic of jinja template -->
        {% for key in UserList[1:] %}
        <li>{{key}}</li>
        {%endfor%}

    </ul>

    <form action="/kullanıcılar" method="POST">
        <div style="text-align: center; top: 10px">
            <br /><br />
            <input type="text"
                   name="k_name"
                   placeholder="Silinecek Kişi:"
                   style="width: 200px" />
            <br />
            <br />
            <button class="w3-button w3-black w3-section" type="submit" onClick="goBack()">
                <i class="fa fa-close"></i> SİL
            </button>  <a href="{{ url_for('anasayfa') }}" class="w3-button w3-black fa fa-mail-reply">Anasayfa</a>
        </div>
    </form>
</body>
</html>
