<!DOCTYPE html>
<html>
<title>Big Brother</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <button onClick="window.location.reload();"
                    class="
            w3-bar-item w3-button w3-hover-black w3-wide w3-border w3-large
          ">
                <b></b><i class="fa fa-eye w3-animate-zoom"></i> Big Brother
            </button>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="{{ url_for('kullanıcıkayıt') }}"
                   class="w3-bar-item w3-button w3-hover-black"
                   style="letter-spacing: 2px">
                    Kullanıcı Kayıt
                </a>
                <a href="{{ url_for('kullanıcılar') }}"
                   class="w3-bar-item w3-button w3-hover-black"
                   style="letter-spacing: 2px">
                    Kullanıcılar Listele
                </a>
                <a href="{{ url_for('kameraip') }}"
                   class="w3-bar-item w3-button w3-hover-black"
                   style="letter-spacing: 2px">Ip Adresi Kaydet</a>
                <a href="{{ url_for('kamera1') }}"
                   class="w3-bar-item w3-button w3-hover-black"
                   style="letter-spacing: 2px">Kamera 1</a>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide"
            style="max-width: 1500px"
            id="home">
        <img class="w3-image"
             src="/static/bigbrother.jpg"
             alt="Architecture"
             width="1500"
             height="800" />
    </header>
    <!-- Page content -->
    <div class="w3-panel w3-red w3-topbar w3-bottombar w3-border-black"
         style="margin-top: 3px; margin-bottom: 3px">
        {% if exip%}
        <p>IP ADRESİ:{{exip}}</p>
        {% endif %}
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">
        <p>
            <a href="https://ymgk-bigbrother.blogspot.com/"
               title="Fırat Üniversitesi"
               target="_blank"
               class="w3-hover-text-red ">Big Brother <i class="fa fa-eye"></i></a> 
            Tarafından Geliştirildi
        </p>
    </footer>
</body>
</html>
