<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Kayıt</title>
</head>

<body>
    <div style="text-align: center; position: relative;">
        <img src="{{ url_for('video_feed2') }}" width="100%">
        <img src="static/siluet.png" width="250px" height="250px" style="position: absolute; right: 600px; top: 80px; ">
    </div>

    <div style="text-align: center;"></div>





    <form action="/kullanicikayit" method="POST">
        <div style="text-align: center; top: 10px;">
            <br><br>
            <input type="text" name="name" placeholder="İSİM" /> <br> <br>
            <input type="text" name="age" placeholder="YAŞ" /><br> <br>
            Kamera 1 <input type="checkbox" name="kameracheck" value="Kamera 1"><br> <br>
            Kamera 2 <input type="checkbox" name="kameracheck" value="Kamera 2"><br> <br>

            <input type="submit" value="KAYDET" />
        </div>
    </form>




</body>

</html>
