<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>İP ADRESİ KAYDET</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="w3-container w3-light-grey w3-container w3-center">
        <h2 style="text-shadow: 1px 1px 0 #444">IP ADRESİ KAYDET</h2>
    </div>

    <form action="/kameraip" method="POST">
        <div style="text-align: center; top: 10px">
            <br /><br />
            <input type="text"
                   name="ip_adress"
                   placeholder="IP ADRESİ:"
                   style="width: 200px" />
            <br />
            <br />
            <button class="w3-button w3-black w3-section" onClick="window.location.reload(); type="submit">
                <i class="fa fa-save"></i> KAYDET
            </button>
        </div>
    </form>
</body>
</html>
